<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>趣购网-商品搜索</title>
<link rel="stylesheet" type="text/css" href="/shop/css/index.css" />
<link rel="stylesheet" type="text/css" href="/shop/css/error/dandelion.css"  media="screen" />
<!-- 鼠标滑过显示遮拦层 -->
<link rel="stylesheet" type="text/css" href="/shop/css/zlc/bootstrap-grid.min.css" />
<!-- 单选框美化 -->
<link rel="stylesheet" type="text/css" href="/shop/css/search/product-search.css" />
<script type="text/javascript" src="/shop/js/jquery.min.js"></script>
<script type="text/javascript" src="/shop/js/category/style.js" ></script>
<script type="text/javascript" src="/shop/js/slideshow/slideshow.js" ></script>
<script type="text/javascript" src="/shop/js/num-alignment.js" ></script>
<script type="text/javascript" src="/shop/js/cart/cart.js" ></script>
<script type="text/javascript" src="/shop/js/header.js" ></script>
<!-- 数字加减器 -->
<link rel="stylesheet" href="/shop/css/number/spinner/jquery.spinner.css" />
<!-- 分页插件 -->
<link rel="stylesheet" href="/shop/css/page/kkpager.css" />
<script type="text/javascript" src="/shop/js/page/kkpager.min.js" ></script>
</head>
<body>
<!-- 头部信息 -->
<#include "/common/header.html"/>
<!--购物车固定部分  -->
<div><#include "/common/cart.html"></div>
<div class="product-search-main-box">
	<div><#include "/error/error.html"></div>
</div>
<div class="foot-box">
	<#include "/common/footer.html">	
</div>
<script type="text/javascript" src="/shop/js/search/product-search.js"></script>
</body>
</html>
