<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head> 
    </head>
    <body>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    	<div class="footer-sm">
    		<div class="sm-img-box">
    			<img src="/shop/images/zhengpin.png"/>
    			<div>正品保障</div>
    		</div>
    		<div class="sm-img-box">
    			<img src="/shop/images/wuliu.png"/>
    			<div>急速配送</div>
    		</div>
    		<div class="sm-img-box">
    			<img src="/shop/images/duo.png"/>
    			<div>品类齐全</div>
    		</div>
    		<div class="sm-img-box">
    			<img src="/shop/images/te.png"/>
    			<div>特色服务</div>
    		</div>
    		<div class="sm-img-box">
    			<img src="/shop/images/help.png"/>
    			<div>帮助中心</div>
    		</div>
    	</div>
    	<div class="footer-des">
    		<div class="footer-des-msg">
    			<div class="foot-des-msg-header">购物指南</div>
    			<div class="foot-des-msg-show"><a href="#">购物演示</a></div>
    			<div class="foot-des-msg-show"><a href="#">免费注册</a></div>
    			<div class="foot-des-msg-show"><a href="#">会员等级</a></div>
    			<div class="foot-des-msg-show"><a href="#">常见问题</a></div>
    			<div class="foot-des-msg-show"><a href="#">品牌大全</a></div>
    		</div>
    		<div class="footer-des-msg">
    			<div class="foot-des-msg-header">支付方式</div>
    			<div class="foot-des-msg-show"><a href="#">支付宝支付</a></div>
    			<div class="foot-des-msg-show"><a href="#">易付宝支付</a></div>
    		</div>
    		<div class="footer-des-msg">
    			<div class="foot-des-msg-header">配送方式</div>
    			<div class="foot-des-msg-show"><a href="#">急速配送</a></div>
    			<div class="foot-des-msg-show"><a href="#">上门取货</a></div>
    		</div>
    		<div class="footer-des-msg">
    			<div class="foot-des-msg-header">商家服务</div>
    			<div class="foot-des-msg-show"><a href="#">商家入驻</a></div>
    			<div class="foot-des-msg-show"><a href="#">培训中心</a></div>
    			<div class="foot-des-msg-show"><a href="#">广告服务</a></div>
    			<div class="foot-des-msg-show"><a href="#">商家帮助</a></div>
    			<div class="foot-des-msg-show"><a href="#">服务市场</a></div>
    			<div class="foot-des-msg-show"><a href="#">规则中心</a></div>
    		</div>
    		<div class="footer-des-msg">
    			<div class="foot-des-msg-header">趣购保障</div>
    			<div class="foot-des-msg-show"><a href="#">全部正品</a></div>
    			<div class="foot-des-msg-show"><a href="#">缺货赔付</a></div>
    		</div>
    	</div>
    </body>
</html>