<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/shop/css/order/delivery-info.css" media="all">
<script  type="text/javascript" src="/shop/js/order/delivery-info.js"></script>
<script type="text/javascript" src="/shop/js/jquery.cookie.js" ></script>
</head>
<body>
<div class="delivery-theme-popover">
     <div class="delivery-theme-poptit">
          <a href="javascript:;" title="关闭" class="delivery-close">×</a>
          <div class="delivery-header-box">查看物流信息</div>
     </div>
     <div class="delivery-ts-box">趣购提示您该信息仅为参考</div>
     <div class="delivery-title-box">查看物流信息</div>
     <div class="delivery-main-box">
     	<div class="delivery-select-item">
     		<div class="delivery-name-item"><span class="bitian-box">*</span>配送人员</div>
     		<div class="delivery-conten-box">
     			<input type="text" name="deliveryName" readonly="readonly" style="background-color: white;" class="form-control"/ >
     		</div>
     	</div>
     	<div class="delivery-select-item">
     		<div class="delivery-name-item"><span class="bitian-box">*</span>手机号码</div>
     		<div class="delivery-conten-box">
     			<input type="text"  name="deliveryPhone" readonly="readonly" style="background-color: white;" class="form-control"/ >
     		</div>
     	</div>
     	<div class="delivery-select-item">
     		<div class="delivery-name-item"><span class="bitian-box">*</span>物流信息</div>
     		<div class="delivery-conten-box">
     			<textarea type="text" class="form-control" readonly="readonly" style="width: 405px;height: 100px;background-color: white;" name="deliveryInfo"></textarea>
     		</div>
     	</div>
   		<div class="delivery-select-item">
   			<div class="delivery-button-box">确定</div>
     	</div>
     </div>
</div>
<div class="delivery-theme-popover-mask"></div>
<script type="text/javascript" src="/shop/js/area/jquery.citys.js"></script>
</body>
</html>
