<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/merchant/layui/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/merchant/layui/css/main.css" />
		<link rel="stylesheet" href="/merchant/css/index.css" />
	</head>
	<body>
		<div class="admin-main">
			<div class="index-title">新零售020商城系统-商家平台</div>
			<div class="index-img">
				<img alt="" src="/merchant/images/o2o.png">
			</div>
			<div class="index-img-new">
				<img alt="" src="/merchant/images/newsale.png">
			</div>
		</div>
	</body>
</html>